absl-py==2.2.2
ale-py==0.10.2
box2d-py==2.3.5
cloudpickle==3.1.1
etils==1.12.2
Farama-Notifications==0.0.4
fsspec==2025.3.2
glfw==2.9.0
gymnasium==1.1.1
imageio==2.37.0
importlib_resources==6.5.2
mujoco==3.3.1
numpy==2.2.5
pillow==11.2.1
pygame==2.6.1
PyOpenGL==3.1.9
setuptools==75.8.0
swig==4.3.1
typing_extensions==4.13.2
wheel==0.45.1
zipp==3.21.0
